<%-include("../partials/header")%>
<%-include("../partials/navbar")%>
<%-include("../partials/flash")%>



<%-include("../partials/head")%>

<div id="carouselExampleInterval" class="carousel slide" style=" width: 90%; margin: 5px auto; border-radius: 5px;" data-bs-ride="carousel">
 
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/cb8c55e19a06ee3a.jpg?q=20" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/e3bcf0e99a7fa199.jpg?q=20" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/f2ea910f41979f5e.png?q=20" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/d8500b554e46dc45.png?q=20" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row " style=" width: 90%; margin: 5px auto;">
    <% for(let item of prod){ %>
        <div class="card col-lg-3 m-3 text-center" style="width: 19.36rem; padding: 1rem;">
            <img src="<%=item.img%>" class="card-img-top" style="height: 230px;" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=item.name%></h5>
              <h5 class="card-title">&#8377; <%=item.price%></h5>
              <p class="card-text"><%=item.desc.substring(0,60)%>...</p>
              <a href="/product/<%=item._id%>/show" class="btn btn-outline-info">More Info</a>
            </div>
          </div>
    <%}%>
</div>



<%-include("../partials/footer")%>





    
    
